<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1026907593971-105ko2hvqnuh22rv6k373ehp6bf84lkv.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1026907593971-105ko2hvqnuh22rv6k373ehp6bf84lkv</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>1026907593971-bgrq5a88rvesaf8olo9mgp0u70u9ipqb.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBI_N9fCkcLeoIYTq6RSRaedpMFYobM81g</string>
	<key>GCM_SENDER_ID</key>
	<string>1026907593971</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.appClienteRestaurante</string>
	<key>PROJECT_ID</key>
	<string>deartis</string>
	<key>STORAGE_BUCKET</key>
	<string>deartis.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1026907593971:ios:08a184eadef8c74915ab86</string>
</dict>
</plist>